body{
    background-image: url("assets/background.png");
    font-family: 'Consolas';
}

div{
    padding-left: 10%;
    padding-right: 10%;
}

a, a:hover, a:focus, a:active {
    color: inherit;
}

h1{
    font-family: 'Merriweather', serif;
    font-size: 45px;
    padding-top: 60px;
}

h2{
    font-family: 'Merriweather', serif;
    font-size: 32px;
    text-align: center;
}

h3{
    font-family: 'Merriweather', serif;
    font-size: 24px;
    color: #ff0099;
}

h4{
    font-family: 'Merriweather', serif;
    font-size: 24px;
    padding-top: 6px;
}

#header{
    background-color: #333333;
    color: #ff0099;
    word-spacing: 25px;
    vertical-align: center;
    padding-top: 7px;
    padding-bottom: 4px;
}

#header{
    background-color: #333333;
    color: #ff0099;
    word-spacing: 25px;
    vertical-align: center;
    padding-top: 7px;
    padding-bottom: 4px;
}

#separator{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

#desc_text{
    font-size: 18px;
}